.fp-item {
	flex: 1;
	gap: 6px;
	display: flex;
	flex-direction: column;

	.fp-img {
		width: 100%;
		height: 250px;
		object-fit: cover;
	}

	.fp-name {
		color: #333;
		font-weight: bold;
	}

	.fp-city {
		font-weight: 300;
	}

	.fp-price {
		font-weight: 500;
	}

	.fp-rating > button {
		background-color: #003580;
		color: white;
		border: none;
		padding: 3px;
		margin-right: 10px;
		font-weight: bold;
	}

	.fp-rating > span {
		font-size: 14px;
	}
}
