@use '../../scss/' as *;

.header {
	background-color: $main-color;
	color: $white;
	@include flex('', center);
	position: relative;

	.header-container.list-mode {
		margin: 20px 0 0px 0px;
	}

	.header-container {
		max-width: $max-width;
		width: 100%;
		margin: 20px 0 100px 0px;

		.header-list {
			@include flex('','');
			gap: 40px;
			margin-bottom: 50px;
		}

		.header-desc {
			margin: 20px 0px;
		}

		.header-btn {
			background-color: $secondary-color;
			color: $white;
			font-weight: $weight-medium;
			border: none;
			padding: 10px;
			cursor: pointer;
		}
	}
}
